# polyarray

[![Travis](https://travis-ci.com/openacid/polyarray.svg?branch=main)](https://travis-ci.com/openacid/polyarray)
[![AppVeyor](https://ci.appveyor.com/api/projects/status/m0vvvrru7a1g4mae/branch/main?svg=true)](https://ci.appveyor.com/project/drmingdrmer/polyarray/branch/main)
[![GoDoc](https://godoc.org/github.com/openacid/polyarray?status.svg)](http://godoc.org/github.com/openacid/polyarray)
[![Report card](https://goreportcard.com/badge/github.com/openacid/polyarray)](https://goreportcard.com/report/github.com/openacid/polyarray)
[![GolangCI](https://golangci.com/badges/github.com/openacid/polyarray.svg)](https://golangci.com/r/github.com/openacid/polyarray)
[![Sourcegraph](https://sourcegraph.com/github.com/openacid/polyarray/-/badge.svg)](https://sourcegraph.com/github.com/openacid/polyarray?badge)
[![Coverage Status](https://coveralls.io/repos/github/openacid/polyarray/badge.svg?branch=master)](https://coveralls.io/github/openacid/polyarray?branch=master)

PolyArray takes only **4 bit** to store an `int32` in an array with an overall trend.

<!-- START doctoc generated TOC please keep comment here to allow auto update -->
<!-- DON'T EDIT THIS SECTION, INSTEAD RE-RUN doctoc TO UPDATE -->

- xx

<!-- END doctoc generated TOC please keep comment here to allow auto update -->


# Install

```sh
go get github.com/openacid/polyarray
```

# Synopsis

## Fit points with a polynomial

```go
{% include 'polyfit/example_polyfit_test.go' %}
```
